<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemParamMapper">
    <resultMap id="group" type="com.taotao.pojo.GroupResult">
        <id column="groupId" property="id"/>
        <result column="groupName" property="groupName"/>
        <result column="itemCatId" property="itemCatId"/>
        <collection property="paramKeys" ofType="com.taotao.pojo.KeyResult">
            <id column="paramKeyId" property="id"/>
            <result column="paramName" property="paramName"/>
            <association property="tbItemParamValue" javaType="com.taotao.pojo.TbItemParamValue">
                <id column="itemId" property="itemId"/>
                <result column="paramValue" property="paramValue"/>
            </association>
        </collection>
    </resultMap>
    <select id="findTbItemGroupByItemId" resultMap="group">
        SELECT
	      c.id groupId,
	      c.groupName,
	      c.itemCatId,
	      b.id paramKeyId,
	      b.paramName,
	      a.itemId,
	      a.paramValue
        FROM
	      tbitemparamvalue a
        INNER JOIN tbitemparamkey b ON a.paramId = b.id
        INNER JOIN tbitemparamgroup c ON b.groupId = c.id
        WHERE
	      a.itemId = #{itemId}
    </select>
</mapper>